https://github.com/mardom/pz_data_challenge/releases/download/v2.0.0/pontifex-0.1.0-py3-none-any.whl
polymathic-aion
torch>=2.4.0
safetensors>=0.4.3
scikit-learn
joblib
minisom
pzflow
pz-rail-pzflow
pz-rail-gpz-v1
lephare
pz-rail-lephare
pz-rail-sklearn
pz-rail-som
pz-rail-flexzboost
pz-rail-bpz
desc-bpz
optunity
